<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% if current_user.nil? %>
	<div class="login_button">
		<form action="/signin" method="post">
        	<input class="form-control" name="name" placeholder="名前を入力"><br>
        	<input class="form-control" name="password" type="password" placeholder="パスワードを入力"><br>
        	<input class="form-control" type="submit" value="sign in">
    	</form>
	</div>
	<% end %>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>
	
	<% unless @all_texts.empty? %>
		<% @all_texts.each do |text| %>
			<div class="post center-vertical">
				<img src="<%= text.song_img %>" width="125" height="125">
				<p>アーティスト: <%= text.artist %></p>
				<p>アルバム: <%= text.album_name %></p>
				<p>曲名: <%= text.song_title %></p>
				<p><a href="<%= text.song_sample %>">サンプル</a></p>
				<p>コメント: <%= text.comment %></p>
				<p>投稿者: <%= text.user.name %></p>
				<% if !current_user.nil? %>
					<a href="#">フォローする</a>
					<a href="#">フォロー解除</a>
				<% end %>
				<p>いいねしたユーザー</p>
					<% text.favorite_users.each do |favorite_user| %>
					<div class="user-box">
					<img src="<%= favorite_user.image_name %>" alt="user_image" width="40" height="40">
					</div>
					<% end %>
				<% if !current_user.nil? %>
					<% if !text.favorite_users.find_by(id: session[:user]) %>
						<a href="/text/<%= text.id %>/favorite">いいねする</a>
					<% else %>
						<a href="/text/<%= text.id %>/delete_favorite">いいね解除</a>
					<% end %>
				<% end %>
			
			</div>
	<% end %>
	<% else %>
		<p>投稿がありません</p>
	<% end %>
</section>
