<section class="center-vertical">
	<h1>検索フォーム</h1>
	<form action="/search" method="get">
		<input type="text" name="keyword" placeholder="キーワード">
		<input type="submit" value="検索">
	</form>
	<h2>検索結果</h2>
	
	<% unless @music == nil %>
		<div class="center-horizontal">
            <% @music.each do |music| %>
				<div class="post center-vertical">
					<img src="<%= music["artworkUrl100"] %>" width="125" height="125">
					<p>アーティスト: <%= music["artistName"] %></p>
					<p>アルバム: <%= music["collectionName"] %></p>
					<p>曲名: <%= music["trackName"] %></p>
					<p><a href="<%= music["previewUrl"] %>">サンプル</a></p>
					<form class="form-inline" action="/text" method="post">
						<input type="hidden" name="song_img" value="<%= music["artworkUrl100"]%>">
						<input type="hidden" name="artist" value="<%= music["artistName"] %>">
						<input type="hidden" name="album_name" value="<%= music["collectionName"] %>">
						<input type="hidden" name="song_title" value="<%= music["trackName"] %>">
						<input type="hidden" name="song_sample" value="<%= music["previewUrl"] %>">
						<input class="form-control" type="text" name="comment" placeholder="コメント">
						<input class="form-control" type="submit" value="投稿">
					</form>
				</div>
			<% end %>
		</div>

	<% else %>
		<p>検索結果がありません</p>
	<% end %>

</section>
